.navegador{
   
    display: flex;
    margin-left: 10px;
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: green;   /*No se como hacer para acomodar el nav en el encabezado*/
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.navegador li{
    display: inline;
}

.contactUs{
    position: relative;
    margin: 10px;
    
}

#aboutUs{

}

.encabezado{
    background-color: lightblue;
    height: 100px;
    position: relative;
}

#divFotoBayer{
    height: 100px;
    width: 250px;
    box-sizing: content-box; /*No entiendo que hace, no cambia en nada*/
    background-color: yellow;
    display: flex; /*No entiendo que hace*/
    justify-content: center;
    align-items: center;
}

#fotoBayer{
    width: 300px;
    padding: 50px;
    align-items: center;
}

#nombreBotones, #primerProducto, #segundoProducto, #tercerProducto, #cuartoProducto, #quintoProducto, #añadirProducto, #formaPago, #totalPagar{
    margin-left: 75px;
}

#nombreBotones{
    background-color: red;
}

#primerProducto{
    background-color: blue;
}

#segundoProducto{
    background-color: pink;
}

#tercerProducto{
    background-color: darkgreen;
}

#cuartoProducto{
    background-color: orange;
}

#quintoProducto{
    background-color: violet;
}

#cliente{
    margin-left: 20px;
}

#pdf{

}

#print{
    margin-left: 10px;
}
